<p>home works!</p>
<ul>
    <li *ngFor="let item of phones" id="{{item}}">{{item}}</li>
</ul>

<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p> 
<p>home works!</p>

@defer (on viewport) {
    <img src="https://picsum.photos/id/180/200/300">
} 

@placeholder { 
<div>loading..</div> 
}